/*
 * Console
- */

.karaParent {
    position    : absolute;    
    left        : 10px;    
    top         : 10px;    
    right       : 10px;    
    bottom      : 10px;    
    padding     : 0px;
    border      : 2px #c0c0c0 solid;
    overflow    : auto;
    background-color: #d0FFd0;
}

.karaView {
    display     : block;
    position    : absolute;
    top         : 0px;
    bottom      : 0px;
    left        : 0px;
    right       : 0px;
    padding     : 0px;
    resize      : none;
    font-family : monospaced;
    font-size   : 14px;
    margin      : auto;
}
