/*
 * Array
 */

.arrayWrapper {
    position    : relative;    
    left        : 0px;    
    top         : 0px;    
    right       : 0px;    
    bottom      : 0px;    
    padding     : 0px;
    overflow    : auto;
}

.arrayView {
    position    : relative;    
    left        : 0px;    
    top         : 0px;    
    right       : 0px;    
    bottom      : 0px;    
    padding     : 0px;
    background-color: #ffffcf;
}

.arraySvg {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    width:100%;
    height:100%;
}