/*
 * Array
 */

.arrayWrapper {
    position    : absolute;    
    left        : 0px;    
    top         : 0px;    
    right       : 0px;    
    bottom      : 0px;    
    padding     : 0px;
    background-color: #ffffcf;
    overflow: auto;
}

.arrayView {
    position    : relative;    
    left        : 0px;    
    top         : 0px;    
    right       : 0px;    
    bottom      : 0px;    
    padding     : 0px;
    overflow    : none;
}

.arraySvg {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    display: block;
}

.variableWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

.variableView {
    border: 1px black solid;
    padding: 0.5em;
    border-radius: 0.25em;
    margin: 1em;
    background-color: white;
    box-shadow: 0.2em 0.2em 0.1em 0.1em lightgray;
}